form(action="" method="post" class="login-form")
//    #{myform.hidden_tag()}
//    #{myform.email(size = 64, class_ = "auth__input", placeholder = "Электронная почта")}
//    #{myform.password(class_ = "auth__input", placeholder = "Пароль")}
//    #{myform.submit(value = "Войти")}
//    a(href=url_for('auth.register')) Зарегистрироваться
